<%- include ../basemodule %>
            <link rel="stylesheet" href="/stylesheets/common/popbox.css"/>
            <link rel="stylesheet" href="/stylesheets/common/dialog_old.css"/>
            <link rel="stylesheet" href="/stylesheets/member/share/index.css"/>
            <script src="/javascripts/member/share/index.js"></script>
            <div id="product_list"></div>
            <div id="article_list"></div>
            <div class="tab_title" align="center">
                <table width="85%" border="1">
                    <tbody>
                        <tr>
                            <td align="center" valign="center">
                                <input type="button" name="添加素材" value="添加素材" id="addmaterial"/>
                            </td>
                        </tr>
                        <tr>
                            <td valign="center" align="center">
                                <input type="button" name="share" value="分享" width="80"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
