<script src="/javascripts/jquery-1.11.3.min.js"></script>
<script src="/javascripts/member/share/material.js"></script>
<link rel="stylesheet" href="/stylesheets/common/popbox.css"/>
<link rel="stylesheet" href="/stylesheets/member/share/material.css"/>
<div class="message_list">
    <div class="tab_title" id="product_tag">
        <span data-ifsrc="/member/product">产品列表</span>
        <span data-ifsrc="/member/article/index" class="active">文章列表</span>
    </div>
    <div class="query_table">
        <iframe id="material" src="/member/product"></iframe>
    </div>
    <div class="btn_box">
        <input type="button" name="确定" value="确定" class="btn_save"/>
        <input type="button" name="取消" value="取消" class="btn_cancel"/>
    </div>
</div>

