<script type="application/javascript" src="/javascripts/main/login.js"></script>
<link rel="stylesheet" href="/stylesheets/main/index.css"/>

<!--顶部导航-->
<div class="main_navigate">
    <div class="navigate_content">
        <a class="active" href="">首页</a>
        <a href="">通知</a>
        <a href="">公告</a>
        <a href="">资讯</a>
        <a href="">活动</a>
    </div>
</div>

<!--大海报-->
<div class="main_banner"></div>

<!--内容区-->
<div class="main_content">
    <!--左侧内容-->
    <div class="content_left">
        <!--新闻资讯-->
        <div class="left_news">
            <div class="news_nav" id="news_nav">
                <h5 class="active">通知</h5>
                <h5>公告</h5>
                <h5>资讯</h5>
                <a href="">更多></a>
            </div>
            <ul class="news_main">
                <li>
                    <span></span>
                    <p>"堕落之神"于2016-02-23 13:32:22发布了“中金信托-金马223号”"堕落之神"于2016-02-23 13:32:22发布了“中金信托-金马223号”</p>
                    <i>2016-2-23</i>
                </li>
                <li>
                    <span></span>
                    <p>"堕落之神"于2016-02-23 13:32:22发布了“中金信托-金马223号”</p>
                    <i>2016-2-23</i>
                </li>
                <li>
                    <span></span>
                    <p>"堕落之神"于2016-02-23 13:32:22发布了“中金信托-金马223号”</p>
                    <i>2016-2-23</i>
                </li>
                <li>
                    <span></span>
                    <p>"堕落之神"于2016-02-23 13:32:22发布了“中金信托-金马223号”</p>
                    <i>2016-2-23</i>
                </li>
            </ul>
        </div>

        <!--产品-->
        <div class="left_product">
            <div class="product_nav" id="product_nav">
                <h5 class="active">发布推荐</h5>
                <h5>发布推荐</h5>
            </div>
            <ul class="product_main">
                <li>
                    <div class="content">
                        <div class="tit">
                            <img src="/images/main/images/index_05.png" alt=""/>
                            <a href="">聚丰聚财3号聚丰聚财3号聚丰聚财3号聚丰聚财3号</a><span>阳光私募</span>
                        </div>
                        <div class="value">累计净值：<span>1.7900</span></div>
                        <p>累计收益：117.38% 100万起购</p>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <div class="tit">
                            <img src="/images/main/images/index_05.png" alt=""/>
                            <a href="">聚丰聚财3号</a><span>阳光私募</span>
                        </div>
                        <div class="value">累计净值：<span>1.7900</span></div>
                        <p>累计收益：117.38% 100万起购</p>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <div class="tit">
                            <img src="/images/main/images/index_05.png" alt=""/>
                            <a href="">聚丰聚财3号</a><span class="status2">阳光私募</span>
                        </div>
                        <div class="value">累计净值：<span>1.7900</span></div>
                        <p>累计收益：117.38% 100万起购</p>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <div class="tit">
                            <img src="/images/main/images/index_05.png" alt=""/>
                            <a href="">聚丰聚财3号</a><span class="status2">阳光私募</span>
                        </div>
                        <div class="value">累计净值：<span>1.7900</span></div>
                        <p>累计收益：117.38% 100万起购</p>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <div class="tit">
                            <img src="/images/main/images/index_05.png" alt=""/>
                            <a href="">聚丰聚财3号</a><span class="status3">阳光私募</span>
                        </div>
                        <div class="value">累计净值：<span>1.7900</span></div>
                        <p>累计收益：117.38% 100万起购</p>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <div class="tit">
                            <img src="/images/main/images/index_05.png" alt=""/>
                            <a href="">聚丰聚财3号</a><span class="status3">阳光私募</span>
                        </div>
                        <div class="value">累计净值：<span>1.7900</span></div>
                        <p>累计收益：117.38% 100万起购</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!--右侧内容-->
    <div class="content_right">
        <!--登陆注册-->
        <div class="right_login pub_right">
            <div class="login_nav pub_nav">
                <i></i>
                <h5>理财师会员登录</h5>
                <a href="/regist"><span>新用户注册</span></a>
            </div>
            <form action="/doLogin" name="login_form" class="login_form pub_form" id="login_form">
                <label for="">用户名：</label>
                <input type="text" placeholder="账户名/手机号/邮箱登录" id="login_name" name="login_name"/><br/>
                <label for="">用户名：</label>
                <input type="password" placeholder="请输入密码" id="password" name="password"/>
                <div class="user_check">
                    <input type="checkbox"/><span>记住用户名</span>
                    <a href="">忘记账户密码？</a>
                </div>
                <input id="submit_btn" type="button" value="确认登录 "/>
                <p class="error_text">提示：用户名或登录密码错误</p>
            </form>
        </div>

        <!--快速查询-->
        <div class="right_query pub_right">
            <div class="query_nav pub_nav">
                <i></i>
                <h5>私募快速查询</h5>
                <em>（快速筛选您感兴趣的）</em>
            </div>
            <form action="" class="query_form pub_form" id="query_form">
                <label for="">收益排行：</label>
                <select name="" id="">
                    <option value="">不限</option>
                    <option value="">今年以来</option>
                    <option value="">近6月</option>
                    <option value="">近1年</option>
                    <option value="">近2年</option>
                </select><br/>
                <label for="">投资策略：</label>
                <select name="" id="">
                    <option value="">不限</option>
                    <option value="">今年以来</option>
                    <option value="">近6月</option>
                    <option value="">近1年</option>
                    <option value="">近2年</option>
                </select><br/>
                <label for="">关键词：</label>
                <input type="text"/>
                <input class="query_btn" type="button" value="快速查询"/>
                <p class="prompt"><span>热门关键词：</span> 聚丰财富2期 景欲财富一号</p>
            </form>
        </div>
    </div>
</div>


<script src="/javascripts/main/index.js"></script>