<link rel="stylesheet" href="/stylesheets/member/product/detail_list.css"/>
<script src="/javascripts/member/product/detail_list.js"></script>
<div class="detail_list" id="detail_list">
    <div class="list_tit">
        <h5>产品列表</h5>
        <div class="share_btn">
            <i>点击分享：</i>
            <div class="bdsharebuttonbox" data-tag="share_1">
                <a class="bds_mshare" data-cmd="mshare"></a>
                <a class="bds_qzone" data-cmd="qzone" href="#"></a>
                <a class="bds_tsina" data-cmd="tsina"></a>
                <a class="bds_baidu" data-cmd="baidu"></a>
                <a class="bds_renren" data-cmd="renren"></a>
                <a class="bds_tqq" data-cmd="tqq"></a>
                <a class="bds_more" data-cmd="more">更多</a>
                <a class="bds_count" data-cmd="count"></a>
            </div>
        </div>
    </div>
    <ul>
       <!-- <li>
            <img src="/images/member/images/40868.jpg" alt="" class="list_con"/>
            <div class="list_con list_info">
                <h4>产品名称</h4>
                <div class="descoration">
                    <span>产品描述：</span>
                    <p>地爆天星地爆天星地爆天星地爆天星地爆天星地爆天星</p>
                </div>
            </div>
            <div class="list_con list_data">
                <p><span>募集目标：</span><i>一毛钱</i></p>
                <p><span>最小起投：</span><i>一毛钱</i></p>
                <p><span>存续期限：</span><i>一万年</i></p>
            </div>
            <div class="list_con list_type">
                <span>产品类型：</span>
                <h5>阳光私募</h5>
            </div>
        </li>
        <li>
            <img src="/images/member/images/40868.jpg" alt="" class="list_con"/>
            <div class="list_con list_info">
                <h4>产品名称</h4>
                <div class="descoration">
                    <span>产品描述：</span>
                    <p>地爆天星地爆天星地爆天星地爆天星地爆天星地爆天星</p>
                </div>
            </div>
            <div class="list_con list_data">
                <p><span>募集目标：</span><i>一毛钱</i></p>
                <p><span>最小起投：</span><i>一毛钱</i></p>
                <p><span>存续期限：</span><i>一万年</i></p>
            </div>
            <div class="list_con list_type">
                <span>产品类型：</span>
                <h5>阳光私募</h5>
            </div>
        </li>

        </li>-->

    </ul>
</div>
<script>
    window._bd_share_config = {
        common : {
            bdText : '',
            bdDesc : '',
            bdUrl : '自定义分享url地址',
            bdPic : ''
        },
        share : [{
            "bdSize" : 16
        }],
        slide : [{
            bdImg : 0,
            bdPos : "right",
            bdTop : 100
        }],
        image : [{
            viewType : 'list',
            viewPos : 'top',
            viewColor : 'black',
            viewSize : '16',
            viewList : ['qzone','tsina','huaban','tqq','renren']
        }],
        selectShare : [{
            "bdselectMiniList" : ['qzone','tqq','kaixin001','bdxc','tqf']
        }]
    }
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
</script>
<script>
    var product_ids='<%=product_ids%>';
</script>