<link rel="stylesheet" href="/stylesheets/member/article/detail_list.css"/>
<script src="/javascripts/member/article/detail_list.js"></script>
<div class="detail_list" id="detail_list">
    <div class="list_tit">
        <h5>文章列表</h5>
        <div class="share_btn">
            <i>点击分享：</i>
            <div class="bdsharebuttonbox" data-tag="share_1">
                <a class="bds_mshare" data-cmd="mshare"></a>
                <a class="bds_qzone" data-cmd="qzone" href="#"></a>
                <a class="bds_tsina" data-cmd="tsina"></a>
                <a class="bds_baidu" data-cmd="baidu"></a>
                <a class="bds_renren" data-cmd="renren"></a>
                <a class="bds_tqq" data-cmd="tqq"></a>
                <a class="bds_more" data-cmd="more">更多</a>
                <a class="bds_count" data-cmd="count"></a>
            </div>
        </div>
    </div>
    <ul>
        <li>
            <div class="title">
                <h4>现在多少钱相当于30年前的万元户？看完惊呆了！</h4>
                <div class="right_span">
                    <span>发布人：<i>dongsz</i></span>
                    <span>时间：<i>2016-03-24 17:34:47</i></span>
                    <span>来源：<i>私募投资网</i></span>
                    <span>点击量：<i class="touch">5</i></span>
                    <span class="comm_de"></span>
                </div>
            </div>
            <p>随着近三十年通货膨胀的侵蚀，“万元户”只得成为历史概念，那么现在多少财富才相当于以前的“万元户”？北京师范大学教授钟伟的一篇权威学术研究报告，答案是“255万”！255万可以在武汉买一套舒适的房子，外加一辆好的轿车，手里还能有几十万的</p>
        </li>
        <li>
            <div class="title">
                <h4>现在多少钱相当于30年前的万元户？看完惊呆了！</h4>
                <div class="right_span">
                    <span>发布人：<i>dongsz</i></span>
                    <span>时间：<i>2016-03-24 17:34:47</i></span>
                    <span>来源：<i>私募投资网</i></span>
                    <span>点击量：<i class="touch">5</i></span>
                    <span class="comm_de"></span>
                </div>
            </div>
            <p>随着近三十年通货膨胀的侵蚀，“万元户”只得成为历史概念，那么现在多少财富才相当于以前的“万元户”？北京师范大学教授钟伟的一篇权威学术研究报告，答案是“255万”！255万可以在武汉买一套舒适的房子，外加一辆好的轿车，手里还能有几十万的</p>
        </li>
    </ul>
</div>
<script>
    window._bd_share_config = {
        common : {
            bdText : '',
            bdDesc : '',
            bdUrl : '自定义分享url地址',
            bdPic : ''
        },
        share : [{
            "bdSize" : 16
        }],
        slide : [{
            bdImg : 0,
            bdPos : "right",
            bdTop : 100
        }],
        image : [{
            viewType : 'list',
            viewPos : 'top',
            viewColor : 'black',
            viewSize : '16',
            viewList : ['qzone','tsina','huaban','tqq','renren']
        }],
        selectShare : [{
            "bdselectMiniList" : ['qzone','tqq','kaixin001','bdxc','tqf']
        }]
    }
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
</script>
<script>
    var info_ids='<%=info_ids%>';
</script>