<link rel="stylesheet" href="/stylesheets/member/article/index.css"/>
<script src="/javascripts/member/article/index.js"></script>
<script src="/javascripts/common/dialog.js"></script>

<div id="table_list">
    <table class="table_list" id="table" > </table>
    <!-- 分页框 -->
</div>
<!--<button onclick="test()">ceshi</button>-->