<%- include ../basemodule %>
            <link rel="stylesheet" href="/stylesheets/member/product/manage.css"/>
            <script src="/javascripts/member/article/manage.js"></script>
            <script src="/javascripts/common/dialog.js"></script>
             <div class="tab_title">
                 <span><a href="/member/article/manage">文章管理</a></span>
                 <span class="active"><a href="/member/article/addArticle">新增</a></span>
                 <div class="query_table">
                     <input type="text" placeholder="输入标题" id="searchtitle" name="title"/>
                     <button type="button" id="search">查询</button>
                     <button type="button" id="share" name="share">分享</button>
                 </div>
             </div>

             <div  class="table_list_box" id="table_list">
                 <table class="table_list" id="table" > </table>
                 <!-- 分页框 -->
                 <div class="page_control" id="page"><ul></ul></div>
             </div>
        </div>
    </div>
</div>
