<link rel="stylesheet" href="/stylesheets/member/account/password.css"/>

<form class="account_form" action="/member/updatePassword" id="pwd_form" name="pwd_form" error_type="bottom">
    <label for=""><img src="/images/member/images/little_03.png" alt=""/>原密码:</label><input type="password" name="oldpwd" data-verify="empty oldpwd"/><br/>
    <label for=""><img src="/images/member/images/little_03.png" alt=""/>新密码:</label><input type="password" name="newpwd" data-verify="empty newpwd"/><br/>
    <label for=""><img src="/images/member/images/little_03.png" alt=""/>确认新密码:</label><input type="password" name="password_confirm" data-verify="empty password_confirm twice" data-twice="newpwd"/><br/>
    <button type="button" id="submit_btn">确认修改</button><div class="input_error form-error-bottom display_none" id="input_error"></div>
</form>
<script src="/javascripts/member/account/pwd.js"></script>