*{
    margin: 0px;
    padding: 0px;
}

#popbox_main1 .form_view1 table {

    width: 100%;
    border: 0px solid #eeeeee;
    border-collapse:collapse;


}

#popbox_main1 .form_view1 .td_title {

    width: 120px;
    border: 0px solid #eeeeee;
    text-align: right;
    padding-right: 10px;
    line-height: 60px;
    height:60px;
}
#popbox_main1 .form_view1 .td_content {

    border: 0px solid #eeeeee;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 18px;
    /*line-height: 60px;
    height:60px;*/
}

#popbox_main1 .form_view1 .td_content_center{
    border: 0px solid #eeeeee;
    text-align: center;
    height: 90px;
}
#popbox_main1 .form_view1 .from_img{
    width: 188px;
    margin: 5px;


}
#popbox_main1 .form_view1 .from_img1{
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 11;
    transition:width 2s, height 2s;
    -moz-transition:width 2s, height 2s, -moz-transform 2s; /* Firefox 4 */
    -webkit-transition:width 2s, height 2s, -webkit-transform 2s; /* Safari and Chrome */
    -o-transition:width 2s, height 2s, -o-transform 2s; /* Opera */
}
#popbox_main1 .form_view1 .td_showlong
{
    width: 500px;
}
#popbox_main1 .form_view1 .td_long{
    width: 300px;
}

#popbox_main1 .form_view1 .td_half{
    width: 86px;
}
#popbox_main1 .form_view1 .td_short{
    width: 200px;
}
#popbox_main1 .form-area{
    border-radius: 4px;
    padding: 4px 12px;
}
#popbox_main1 .form_view1 .margin-left20{
    margin-left: 20px;
}
#popbox_main1 .form_view1 .width1{
    width: 100px;
}
#popbox_main1 .form_view1 .width2{
    width: 90px;
}
#popbox_main1 .form_view1 .select{
    width: 188px;
}

#popbox_main1 .form_view1 .btn_submits {
    background-color: #ff4445;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    border-radius: 3px;
    border: 0px;
    margin-bottom: 30px;
}
#popbox_main1 .form_view1 .btn_save {
    background-color: #4a7dca;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    border-radius: 3px;
    border: 0px;
}

#popbox_main1 .form_view1 .btn_cancel {
    /*background-color: #999999;*/
    background-color: rgb(210,210,210);
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    /*color: #000;*/
    color: #fff;
    text-align: center;
    border-radius: 3px;
    border: 1px solid rgb(210,210,210);
}

#popbox_main1 .form_view1 .btn_deal_save {
    background-color: #e34544;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    border-radius: 3px;
    border: 0px;
}
#popbox_main1 .form_view1 .btn_deal_cancel {
    background-color: #fff;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    color: #000;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #797979;
}

#popbox_main1 .layer_title{
    position: relative;
    width: 100%;
    font-size: 20px;
    height:42px;
    line-height: 42px;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    background: #4a7dca;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
/*input[type=text],input[password]{
    border-radius:4px;
    padding:4px 12px;
    height: 20px;
}*/
input[type=text]:focus{
    border-color:#66afe9;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
#popbox_main1 .form-control{
    border: 1px solid #cbcbcb;
    border-radius:4px;
    padding:4px 12px;
    height: 32px;
}

/* 弹出框 */
#popbox_main1 {

    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.6);
    top: 0px;
    z-index:99;
    _position:absolute;
    _bottom:auto;
    _top:expression(eval(document.documentElement.scrollTop));

}

#popbox_main1 iframe {

    overflow-x: hidden;
    overflow-y: hidden;
    border: 0px;
    margin: auto;
    position: relative;
    margin-top: 100px;
}

#popbox_main1 .msg_box_content {
    position: relative;
    width: 385px;
    background-color: #ffffff;
    border-radius: 5px;
   /* min-height: 660px;*/
    max-height: 500px;
    overflow: auto;
    margin-top: 15px;
}

#popbox_main1 .iframe_main1 {

    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}
#popbox_main1 .error_msg{
    color: #ff0000;
    font-size: 14px;
}

#popbox_main1 .fork{
    position:absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    z-index: 15;
}
#popbox_main1 .fork img{
    width:100%;
    height:100%;
}
#popbox_main1 .form-error-bottom{
    margin-bottom: 10px;
    color: #ff0000;
}
#popbox_main1.font_size_18{
    font-size: 18px;
}

#popbox_main1 .from_deal{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background: #ffffff;
}
#popbox_main1 .box_table{
    padding: 20px;
}
#popbox_main1 #pic_iframe1{
    height: 0px;
    width: 98%;
}
#popbox_main1 #pop_iframe1{
    width: 400px;
    overflow-x: hidden;
    overflow-y: hidden;
    border: 0px;
    margin: auto;
    position: relative;
    margin-top: 150px;
}
#popbox_main1 #dialog_content{
    padding-top: 50px;
    padding-bottom: 20px;
    line-height: 20px;
}

#popbox_main1 #dialog_content_left{
    padding-top: 50px;
    padding-bottom: 20px;
    line-height: 20px;
    text-align: left;
}

#popbox_main1 .form_view1 .margin-left3{
    margin-left: 10px;
}